body {
  margin: 0px;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  min-height: 100vh;
}

section h2 {
  font-size: 16px;
}

section#images figure {
  margin: 0;
  margin-top: -10px;
}

section#images figure img {
  max-width: 150vw;
  filter: saturate(0);
}

section#mailing-list {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  z-index: -1;
}

section#mailing-list .content-area {
  position: fixed;
  width: 420px;
  bottom: 45vh;
  left: -210px;
  margin-left: 50%;
}

section#mailing-list .content-area p:nth-child(2){
  margin: 0;
  float: left;
}

section#mailing-list .content-area p:nth-child(4){
  font-size: 16px;
  margin-top: 60px;
  margin-left: 150px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.527);
}

section#mailing-list #mailing-box {
  display: inline-block;
  float: left;
  width: 250px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.61);
  text-align: center;
  line-height: 30px;
  color: rgb(61, 61, 61);
  margin-top: -5px;
  margin-left: 10px;
}

@media only screen and (max-width: 750px) {
  
  section {
    min-height: calc(100vh - 160px);
  }

  section#mailing-list {
    align-content: center;
  }

  section#mailing-list .content-area {
    position: relative;
    width: 300px;
    left: 0;
    margin-left: 0;
    top: 0;
  }
  
  section#mailing-list .content-area p:nth-child(2){
    float: unset;
    margin: 1em 0;
  }
  
  section#mailing-list .content-area p:nth-child(4){
    float: unset;
    margin-left: unset;
    margin-top: unset;
  }
  
  section#mailing-list #mailing-box {
    float: unset;
    margin: unset;
  }
}